@import url("https://fonts.googleapis.com/css2?family=McLaren&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "McLaren", cursive;
}

body {
  background-color: #eee;
}

footer {
  display: block;
  text-align: center;
  padding: 22px;
  width: 100%;
}

footer p {
  color: grey;
}
