.form-background-image {
  min-height: 100vh;
  background-image: url("../assets/form-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.form-container {
  background: rgba(255, 255, 255, 0.88);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.TextField {
  margin: 10px 0;
}

.form-title {
  margin-bottom: 30px;
}

Button {
  margin-top: 10px;
}
